<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://searleconsulting.co.za">Searle Consulting</a>
  application that allows you to keep track of your commands used for your various development projects.
</p>