<% provide(:title, 'Contact')%>
<h1>Contact Us</h1>
<p>
  You can get hold of us at the SearleConsulting.com contact us page: <a href="http://www.searleconsulting.com/contact"><span class="btn btn-large btn-primary">Go there now</span></a>
</p>


<!-- <iframe width="560" height="349" src="http://www.youtube.com/watch?v=fk4VacxLLfM">
  <html lang="en" dir="ltr">
</iframe> -->

<iframe width="640" height="480" src="http://www.youtube.com/embed/AySreStPA7g"></iframe>
