<% provide(:title, 'Contact')%>
<h1>Contact Us</h1>
<p>
  You can get hold of us at the SearleConsulting.com contact us page: <a href="http://www.searleconsulting.com/contact"><span class="btn btn-large btn-primary">Go there now</span></a>
</p>


