<ul class="nav nav-list">
  <li>
	<li class="active">
    <a href="#">
      <i class="icon-exclamation-sign"></i>
      Possible Actions
    </a>
	</li>
  </li>
</ul>
<br>



<div class="tooltip-demo well">
  <center>
	  <p class="muted" style="margin-bottom: 0;">
		<%= link_to "All Commands", sccommands_path, 
		                            class: "btn btn-large btn-primary" %>

		<%= link_to "All Frameworks", frameworks_path, 
		                            class: "btn btn-large btn-primary" %>

		<%= link_to "All Notes", notes_path, 
		                            class: "btn btn-large btn-primary" %>

		<%= link_to "All Errors", scerrors_path, 
		                            class: "btn btn-large btn-primary" %>
	  </p>
  </center>
</div>