<div class="span12 columns">
  <h2>Example carousel</h2>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/1.jpg" alt="">
        <div class="carousel-caption">
          <h4>First Thumbnail label</h4>
          <p>These are the details for the first slide</p>
        </div>
      </div>
      <div class="item">
        <img src="images/2.jpg" alt="">
        <div class="carousel-caption">
          <h4>Second Thumbnail label</h4>
          <p>Second slide things</p>
        </div>
      </div>
      <div class="item">
        <img src="images/3.jpg" alt="">
        <div class="carousel-caption">
          <h4>Third Thumbnail label</h4>
          <p>And we certainly cannot forget about the 3rd!</p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
 </div>