<ul class="nav nav-list">
  <li>
	<li class="active">
    <a href="frameworks">
      <i class="icon-list-alt"></i>
      Recent Frameworks
    </a>
	</li>
  </li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <% @frameworks.each do |framework| %>
      <tr>
        <td><%= link_to truncate(framework.name, :length => 25), framework_path(framework) %></td>
		<td><span class="timestamp">Updated <%= time_ago_in_words(framework.created_at) %> ago.</span></td>
      </tr>
    <% end %>
  </tbody>
</table>