<ul class="nav nav-list">
  <li>
	<li class="active">
    <a href="notes">
      <i class="icon-edit"></i>
      Recent Notes
    </a>
	</li>
  </li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= link_to truncate(note.description, :length => 20), note_path(note) %></td>
        <td><center>		
			  <% if note.privatebool %>
				 	<span class="label label-success">Private</span>
				<% end %>
			</center> 						
		</td>
			
		<td><span class="timestamp">Updated <%= time_ago_in_words(note.created_at) %> ago.</span></td>
      </tr>
    <% end %>
  </tbody>
</table>
