<ul class="nav nav-list">
  <li>
	<li class="active">
    <a href="scerrors">
      <i class="icon-remove-sign"></i>
      Recent Errors
    </a>
	</li>
  </li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
    </tr>
  </thead>
  <tbody>
    <% @scerrors.each do |scerror| %>
      <tr>
	

        <td><%= link_to truncate(scerror.actualerror, :length => 30), scerror_path(scerror) %></td>
		<td><span class="timestamp">Updated <%= time_ago_in_words(scerror.created_at) %> ago.</span></td>
      </tr>
    <% end %>
  </tbody>
</table>